:root{
    --background-color-dark: #08152E;
    --background-color-light: #FFFFFF;
    --color-blue: #08152E;
    --color-yellow: #F5FFB6;
    --color-green: #E1FFB1;
}

.topPanel{
    background-color: var(--background-color-dark);
    height: 40vh;
    display: flex;
}


#gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0;
    margin: 5vh 0 5vh 0;
}

nav {
    background-color: var(--background-color-light);
    width: 100%;
    height: 8vh;
}
.navbar-brand {
    color: #ffffff;
}
.navbar-brand:hover {
    color: rgb(225, 225, 177);
}

img {
    max-width: 20vw;
}

.zoom:hover img {
    transform: scale(1.1);
}
