:root {
    --background-color-dark: #08152e;
    --background-color-light: #ffffff;
    --color-blue: #08152e;
    --color-yellow: #f5ffb6;
    --color-green: #e1ffb1;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;0,800;1,200;1,300;1,400&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

/*Style for navbar- app*/

.navbar {
    display: flex;
    align-items: center;
    color: var(--color-blue);
}
nav {
    background-color: var(--background-color-light);
    width: 100%;
    height: 8vh;
}
.navBar a {
    color: var(--color-blue);
}
li {
    color: var(--color-blue);
    padding-top: 1.5vh;
}

#user {
    width: 3vw;
}

.title img {
    height: 7vh;
}

/*Style for Home content*/

#topPanel {
    background-color: var(--background-color-dark);
    display: flex;
    justify-content: center;
    padding: 3vw;
    color: white;
    font-family: "Nunito", sans-serif;
}

.options .icon {
    width: 4vw;
    margin: 1vh;
    margin-top: 2vh;
}

.userOptions img {
    width: 5vh;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.user {
    display: flex;
    justify-content: center
}

.house{
    width: 4vw;
    margin: 1vh;
    margin-top: 2vh;
}

.pageTitle {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.pageName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    font-size: 3vh;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add,
.goFav,
.goHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera, .heart {
    width: 6vw;
    margin: 1vh;
}

.options .button {
    background-color: var(--color-yellow);
    border: none;
    border-radius: 1.5vh;
    padding: 1vh 1.5vw 1vh 1.5vw;
    color: var(--color-blue);
    font-weight: bold;
    font-size: 2vh;
}



/*Style for Gallery items */

.title {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vh;
    color: var(--color-blue);
}

#photoDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#optionsPhoto {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

#optionsPhoto form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#optionsPhoto .icon {
    width: 3vw;
    height: auto;
}

.name {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 2.5vh;
    width: 75%;
}
.artist {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 2vh;
}


/* Style for Details view */

#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    background-color: var(--color-blue);
}

.subtitle {
    font-size: 400;
    font-style:oblique;
    font-size: 2.5vh;
    margin: 1vh 0 1vh 0;
}

.text{
    font-weight: 400;
    font-size: 2.5vh;
    margin: 1.5vh 0 1.5vh 0;
}
.location{
    font-weight: 600;
}


.detailed {
    width: 8vw;
}


.detailContent .button {
    background-color: var(--color-yellow);
    border: none;
    border-radius: 1.5vh;
    padding: 1vh 1.5vw 1vh 1.5vw;
    color: var(--color-blue);
    font-weight: bold;
    font-size: 2vh;
    margin: 1vH;
}

.detailContent .goHome {
    margin-top: 6vh;
}


/* Style for forms */

#forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}


#addForm {
    font-family: 'Nunito', sans-serif;
    color: var(--color-blue);
    font-size: 2vh;
}

.btn {
    background-color: var(--color-blue);
    color: white;
}
#addButton {
    background-color: var(--color-green);
    color: var(--color-blue);
}

#addButton:hover {
background-color: #ffffff;
}


#customBtn{
    background-color: var(--color-green);
    color: var(--color-blue);
}

.card-header {
    background-color: var(--color-blue);
    color: white;
}

.card {
    margin-top: 10vh;
}




@media (max-width: 750px) {
    .options {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .options .button {
        background-color: transparent;
        border: none;
        border-radius: 1.5vh;
        padding: 1vh 1.5vw 1vh 1.5vw;
        color: white;
        font-weight: bold;
        font-size: 1.5vh;
    }
    .options .icon {
        width: 6vw;
        margin-top: 1vh;
        margin-bottom: 0.5vh;
    }
    .userOptions img {
        width: 5vh;
        margin-top: 1vh;
        margin-bottom: 0.5vh;
    }

    .house{
        width: 6vw;
        margin-top: 1vh;
        margin-bottom: 0.5vh;
    }
    .page {
        font-size: medium;
    }
    #optionsPhoto {
        height: 5vh;
    }
    #optionsPhoto .icon {
        width: 5vw;
    }
}
